@{
    ViewData["Title"] = "Master Keys";
}

<div class="section">
    <div class="card panel-card">
        <div class="card-content">
            <span class="card-title">Master Keys</span>
            <p>Administrative key configuration will be handled here.</p>
        </div>
    </div>
</div>
